In [1]:
#conda install -c conda-forge gmaps

In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2021-03-25 01:08:52,-34.5322,20.0403,64.40,88,99,9.22
1,1,Saldanha,ZA,2021-03-25 01:07:55,-33.0117,17.9442,69.80,68,0,2.30
2,2,Ushuaia,AR,2021-03-25 01:05:11,-54.8000,-68.3000,42.80,75,20,28.77
3,3,Tahoua,NE,2021-03-25 01:08:52,14.8888,5.2692,81.18,9,100,11.21
4,4,Nouadhibou,MR,2021-03-25 01:08:52,20.9310,-17.0347,64.40,94,75,13.80

In [12]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [22]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=175, point_radius=2.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=200, point_radius=2.5)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False, max_intensity=200, point_radius=2.5)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                dissipating=False, max_intensity=200, point_radius=2.5)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Tahoua,NE,2021-03-25 01:08:52,14.8888,5.2692,81.18,9,100,11.21
13,13,Georgetown,MY,2021-03-25 01:08:55,5.4112,100.3354,80.01,94,20,5.75
14,14,Boa Vista,BR,2021-03-25 01:04:03,2.8197,-60.6733,77.00,88,90,8.05
20,20,Kavaratti,IN,2021-03-25 01:08:56,10.5669,72.6420,82.56,74,79,5.99
21,21,Alice Town,BS,2021-03-25 01:08:56,25.7167,-79.3000,75.74,75,30,13.71
24,24,Mitsamiouli,KM,2021-03-25 01:06:34,-11.3847,43.2844,82.27,71,5,2.71
25,25,Morros,BR,2021-03-25 01:08:57,-9.4467,-46.3003,75.85,64,24,1.61
31,31,Vila Velha,BR,2021-03-25 01:05:25,-20.3297,-40.2925,78.80,83,75,4.61
32,32,Hithadhoo,MV,2021-03-25 01:08:59,-0.6000,73.0833,83.01,70,82,11.23
34,34,Saint-Georges,GD,2021-03-25 01:08:59,12.0564,-61.7485,78.80,78,20,11.50

In [31]:
preferred_cities_df.count()

City_ID       149
City          149
Country       149
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3          Tahoua      NE     81.18  14.8888    5.2692
13     Georgetown      MY     80.01   5.4112  100.3354
14      Boa Vista      BR     77.00   2.8197  -60.6733
20      Kavaratti      IN     82.56  10.5669   72.6420
21     Alice Town      BS     75.74  25.7167  -79.3000
24    Mitsamiouli      KM     82.27 -11.3847   43.2844
25         Morros      BR     75.85  -9.4467  -46.3003
31     Vila Velha      BR     78.80 -20.3297  -40.2925
32      Hithadhoo      MV     83.01  -0.6000   73.0833
34  Saint-Georges      GD     78.80  12.0564  -61.7485

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "Lat, Lng"
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude/
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Tahoua,NE,81.18,14.8888,5.2692,Bungalows Guesthouse
13,Georgetown,MY,80.01,5.4112,100.3354,Cititel Penang
14,Boa Vista,BR,77.00,2.8197,-60.6733,Aipana Plaza Hotel
20,Kavaratti,IN,82.56,10.5669,72.6420,Hotels in Lakshadweep Islands
21,Alice Town,BS,75.74,25.7167,-79.3000,Bimini Big Game Club Resort & Marina
24,Mitsamiouli,KM,82.27,-11.3847,43.2844,Foyer ADM
25,Morros,BR,75.85,-9.4467,-46.3003,
31,Vila Velha,BR,78.80,-20.3297,-40.2925,Quality Suites Vila Velha
32,Hithadhoo,MV,83.01,-0.6000,73.0833,Scoop Guest House
34,Saint-Georges,GD,78.80,12.0564,-61.7485,Siesta Hotel

In [45]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                dissipating=False, max_intensity=200, point_radius=2.5)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))